body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(163, 158, 245);

}

hr{
    margin: 0;
    padding: 0;
}

#topBar{
    color: aliceblue;
    background-color: black;
    opacity: 70%;
    border: 0px;
    
    
}

#secondBar{
    display: flex;
    float: right;
}